@import '../../variables';

.playing-cards-deck {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    height: 100vh;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: background-color 0.3s;
    width: 100%;

    &__card-preview {
        align-items: center;
        display: flex;
        flex-grow: 1;
        max-width: 600px;
        margin: 0 auto;

        &, > * {
            width: 100%;
        }
    }

    &__list {
        display: grid;
        grid-auto-rows: 2.25rem;
        grid-template-columns: repeat(auto-fit, 3.125rem);
        justify-content: center;

        .playing-card {
            box-shadow: -2px -2px 10px 0px rgba(0, 0, 0, 0.5);
            transition: margin-top 0.3s;
        }

        .playing-card--selected {
            margin-top: -1rem;
        }

        transition: transform 0.3s;
    }

    &--open &__list {
        grid-auto-rows: 3.125rem;
    }

    &--closed &__card-preview {
        visibility: hidden;
    }

    &--closed {
        background-color: rgba(0, 0, 0, 0);
        pointer-events: none;
    }

    &--closed &__list {
        pointer-events: all;
        transform: translateY(calc(100% - #{$card-deck__height--closed}));
    }
}

.card-preview__wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}