@import '../../variables';

$needs-extra-vertical-space: "(max-aspect-ratio: #{$landscape-min-aspect-ratio}) and (min-aspect-ratio: 1/2)";

.playing-cards-deck {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    height: 100vh;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: background-color 0.3s;
    width: 100%;

    &__card-preview {
        align-items: center;
        display: flex;
        flex-grow: 1;
        max-width: 600px;
        margin: 0 auto;

        &, > * {
            width: 100%;
        }
    }

    &__list {
        display: grid;
        grid-auto-rows: 2.25rem;
        grid-template-columns: repeat(auto-fit, 3.125rem);
        justify-content: center;
        min-height: $card-deck__height--closed;
        position: relative;
        width: 100%;

        .playing-card {
            transition: margin-top 0.3s;
        }

        @for $number from 1 through $players__max-count {
            .main--player-#{$number} & .playing-card {
                box-shadow:
                    -2px -2px 10px 0px rgba(0, 0, 0, 0.5),
                    -2px -2px 10px 0px #{nth($players__colours, $number)};
            }

            .main--player-#{$number} &::before {
                background-color: nth($players__colours, $number);
                content: '';
                height: 300%;
                left: 0;
                min-height: $card-deck__height--closed;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: -1;
            }
        }

        .playing-card--selected {
            margin-top: -1rem;
        }

        transition: transform 0.3s;
    }

    &--open &__list {
        grid-auto-rows: 3.125rem;
    }

    &--closed &__card-preview {
        visibility: hidden;
    }

    &--closed {
        background-color: rgba(0, 0, 0, 0);
        pointer-events: none;
    }

    &--closed &__list {
        pointer-events: all;

        @media #{$needs-extra-vertical-space} {
            transform: translateY(calc(100% - #{$card-deck__height--closed}));
        }
    }
}

.card-preview__wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}
