.game-menu {
    @media (max-width: 600px) {
        // less padding for smaller screens
        padding: 8px 8px;

        .MuiDialogContent-root {
            padding: 8px 8px;
        }
    }

    .MuiDialogContent-root {
        height: 75vh;
    }
}
