@import '../../variables';

.score-board {
    .table-cell--skinny {
        width: 60px;
    }

    .avatar {
        max-width: 30vw;
        word-break: break-word;
    }

    @media (max-width: 600px) {
        .MuiTableCell-root {
            padding: 16px 8px;
        }
    }
}
