.game-board {
    --avatar-size: 44vw;
    --grid-column-gap: 4vw;
    --grid-row-gap: 4vw;

    @media (min-aspect-ratio: 5/9) {
        --avatar-size: 43vw;
        --grid-column-gap: 4vw;
        --grid-row-gap: 4vw;
    }

    @media (min-aspect-ratio: 21/36) {
        --grid-row-gap: 2vw;
    }

    @media (min-aspect-ratio: 11/18) {
        --avatar-size: 40vw;
    }

    @media (min-aspect-ratio: 6/9) {
        --avatar-size: 32vw;
        --grid-column-gap: 4vw;
    }

    @media (min-aspect-ratio: 7/9) {
        --avatar-size: 27vw;
        --grid-row-gap: 1vw;
    }

    @media (min-aspect-ratio: 8/9) {
        --avatar-size: 28vh;
        --grid-column-gap: 2vh;
        --grid-row-gap: 2vh;
    }

    @media (min-aspect-ratio: 4/3) {
        --avatar-size: 32vh;
    }

    align-content: center;
    column-gap: var(--grid-column-gap);
    display: grid;
    grid-template-columns: 1fr repeat(2, var(--avatar-size)) 1fr;
    height: 100vh;
    justify-content: center;
    padding: var(--grid-row-gap) var(--grid-column-gap);
    row-gap: var(--grid-row-gap);

    &--5-players, &--6-players {
        grid-template-areas: 
            'left header header right'
            'left avatar-1 avatar-2 right'
            'left avatar-6 avatar-3 right'
            'left avatar-5 avatar-4 right'
            'left footer footer right';
        grid-template-rows: 1fr repeat(3, var(--avatar-size)) 1fr;
    }

    @media (min-aspect-ratio: 8/9) {
        &--5-players, &--6-players {
            grid-template-areas: 
                'left header header header right'
                'left avatar-1 avatar-2 avatar-3 right'
                'left avatar-6 avatar-5 avatar-4 right'
                'left footer footer footer right';
            grid-template-columns: 1fr repeat(3, var(--avatar-size)) 1fr;
            grid-template-rows: 1fr repeat(2, var(--avatar-size)) 1fr;
        }
    }

    &--3-players, &--4-players {
        grid-template-areas: 
            'header header'
            'avatar-1 avatar-2'
            'avatar-4 avatar-3'
            'footer footer';
        grid-template-rows: 1fr repeat(2, var(--avatar-size)) 1fr;
    }

    header, footer {
        align-items: center;
        display: flex;
    }

    header {
        grid-area: header;
        justify-content: space-between;
    }

    footer {
        grid-area: footer;
        justify-content: center;
    }

    &__stats {
        list-style: none;

        &, li {
            margin: 0;
            padding: 0;
        }
    }
}