@import '../../variables';

.avatar {
    color: white !important;
    position: relative;
    text-shadow: 0px 0px 3px black;
    text-align: center;
    padding: 0px 5px;

    &--leader__icon {
        fill: yellow !important;
        left: 0;
        position: absolute;
        stroke-width: 2px;
        stroke: black;
        top: 0;
        transform: translate(-35%, -35%) rotate(45deg);
    }

    &--square {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 2rem;
        min-width: 2rem;
    }

    @for $number from 1 through $players__max-count {
        &--player-#{$number} {
            background-color: nth($players__colours, $number);
        }
    }

    &--empty {
        border: 5px dashed grey;
        color: black;
        background-color: transparent;
    }

    &--active {
        outline: 3px solid blue;
    } 
}
