.suit-icon {
    font-size: inherit !important;

    &--hearts, &--diamonds {
        fill: red !important;
    }

    &--clubs, &--spades {
        fill: black !important;
    }

    &--wizard, &--jester {
        color: royalblue;
        text-transform: uppercase;
        font-weight: 700 !important;
    }
}

.scoreboard-icon {
    fill: white !important;
    font-size: 3em;
}

.trophy-icon {
    fill: gold !important;
    font-size: 3em !important;
    stroke: black;
}