@import './variables';

.main {
    display: grid;
    grid-template-areas: 
        'header'
        'board'
        'footer'
        '......';
    grid-template-rows: 1fr min-content 1fr #{$card-deck__height--closed};
    grid-template-columns: min-content;
    justify-content: center;
    padding: 5px;
    max-height: 100vh;

    .game-header {
        grid-area: header;
    }

    .game-footer {
        grid-area: footer;
    }

    .game-board {
        grid-area: board;
    }

    .game-menu {
        grid-area: menu;
    }

    &--wide {
        column-gap: 30px;
        grid-template-areas: 
            'header menu'
            'board  menu'
            'footer menu'
            '...... .....';
        grid-template-columns: min-content minmax(min-content, 750px);
        grid-template-rows: 1fr min-content 1fr calc(#{$card-deck__height--closed} + 60px);
        justify-content: space-around;
        padding: 30px;

        .game-menu .MuiTableCell-stickyHeader {
            z-index: unset;
        }

        .game-menu {
            display: flex;
            flex-direction: column;
        }
    }
}