@import './variables';

.main {
    display: grid;
    grid-template-areas:
        'header'
        'board'
        'footer'
        '......';
    grid-template-rows: 1fr min-content 1fr #{$card-deck__height--closed};
    grid-template-columns: min-content;
    justify-content: center;
    padding: 5px;
    max-height: 100vh;

    .game-header {
        grid-area: header;
    }

    .game-footer {
        grid-area: footer;
    }

    .game-board {
        grid-area: board;
    }
}
